#sidebar1 .topic1,
#main .topic1{
	font-size:1.4em;
}
#main .topic1,
#main .topic2,
#nav-left .topic2{
	text-transform:uppercase;
}
#article .topic1,
#product .topic1{
	text-transform:none;
}
body{
	background:url("body.png") repeat;
}
#content_wrapper{
	background: url("bg_centent_wrapper.png") repeat;
}
#header_wrapper{
	background:url("topbar.png") repeat-x ;
}
.cart_status{
	background:url("bg_cart.png") repeat-x;
}
#header .account fieldset .text{
	background:url("bg_acc_textbok.png") repeat-x;	
}
#header .account fieldset .button{
	background:url("bg_acc_button.png") repeat-x;		
}
#header  .nav{
	background:url("line_header_nav.png") repeat-x bottom left;	
}
.widgets{
	background: url('widgets.png') no-repeat ;
}
.banners{
	background: url('banners.png') no-repeat center center;
}
.buttons{
	background: url('buttons.png') no-repeat;
}
/*------------------- Font Color --------------------*/
#header,
#main #product .topic1 a,
#main .column li a,
#sidebar1 .topic2,
#main .topic1,
#frontpage .column .topic2,
#frontpage .column .topic2,
#sidebar1 .stats dd,
#collection .grid .price,
#header .account .button,
#header .account .signup,
#blog .details .topic2 a:hover{
	color:#333;
}
#blog .details .topic2 a,
#blog .excerpt a,
#sidebar1 .list li a,
#cart_form .fl,
#main .padding a,
#header a,
#blog .author,
#article .author,
#discussion .breadcrumb a,
#discussion .message a,
#main .column .bullets small,
#comments li .meta span,
#header .cart_status a,
#main .column li a:hover,
#blog .excerpt a:hover{
	color:#777;
}
#header a:hover,
#sidebar1 li a:hover,
#sidebar1 .nav-left .active a,
#header .cart_status a:hover,
#header .logged_in h2,
#discussion .message a:hover,
#discussion .listing th,
#cart .items th{
	color:#444;
}
#footer,
#footer .copyright a,
#footer .copyright a:hover,
#header .logged_in li a,
#header .socials_wrapper .topic1,
#header .account,
#header .nav2 li a,
#header .nav li a,
#header .logo_wrapper a .site_slogan{
	color:#b1b1b1;
}
#footer a,
#header .nav li a{
	color:#ddd;	
}

#header .logo_wrapper .site_name{
	color:#eee;
}
#header .logged_in h2,
#header .logged_in li a:hover,
#collection .subcategory a,
#header .nav2 a:hover,
#header .nav a:hover,
#footer a:hover{
	color:#fff;
}
#discussion .breadcrumb a:hover,
#main .padding a:hover,
#collection .subcategory a:hover,
#frontpage #collection .topic1,
#header .logo_wrapper  a:hover .site_slogan{
	color:#000;
}

/*------------------- Background Color --------------------*/
#collection .subcategory a{
  background-color:#333;	
}
#discussion .listing th,
#cart .items th{
	background-color:#e8eaf0;
}
#collection .subcategory a,
#collection .subcategory a:hover{
  background-color:#888;
}
#discussion .page .padding,
#comments li .meta,
#discussion .listing .hover{
	background-color:#eee;
}
/*------------------- Border Color --------------------*/
#sidebar1 .list li,
#discussion .listing td,
#blog .padding li,
#main .column ul li,
#cart_form td{
	border-bottom:1px dotted #aaa;
}
#header .cart_stat{
		border:1px solid gray;
}
#header .nav li{
	border-right:1px dotted #ddd;
}